<h2>Login</h2>
<form [formGroup]="form" #LoginInformation (ngSubmit)="Login(LoginInformation)">  
    <div class="row">
        <label for="username">Login as</label>
        &nbsp;&nbsp;&nbsp;&nbsp;
        User: <input type="radio" name="type" formControlName="usertype"   />
        &nbsp;&nbsp;&nbsp;&nbsp;
        Librarian: <input type="radio" name="type" formControlName="usertype"  />
    </div>
    <div class="row">  
        <div class=" col-md-offset-1 col-md-4">  
            <label for="email"> Email </label>  
            <input formControlName="email" class="form-control" width="50%" type="text">   
        </div>  
      </div>  
      
      <div class="row">  
        <div class=" col-md-offset-1 col-md-4">  
            <label for="password"> Password </label>  
            <input formControlName="password" class="form-control" width="50%" type="password">   
        </div>  
      </div>  
      
      <div class="row" style="margin-top: 40px;">  
        <div class="col-md-offset-1 col-md-4">  
            <button class="btn btn-md btn-primary btn-style"  >Login</button>  
        </div>  
      </div>
</form>

